<h1>LEARNING NGRX part</h1>
<pk-filters
  [filters]="filters"
  [active]="activeFilter | async"
  (changeFilter)="changeFilter($event)"
>
</pk-filters>

<div>
  <span (click)="change(value1)">{{value1}} </span>
  <span (click)="change(value2)">{{value2}}</span>
  <p>todolist works!</p>
  <p (click)="change(value3)">{{value3}}</p>
  <p (click)="change(value4)">{{value4}}</p>

  <input type="text" [ngModel]="todoName" (ngModelChange)="onTodoNameChange($event)">
</div>

<h1>LEARNING NGRX part</h1>

  <p *ngIf="todoList.pending">Loading...</p>

  <pk-todo-item [todo]="todo" *ngFor="let todo of todoList.todos"></pk-todo-item>

  <p *ngIf="todoList.error">{{todos.error}}</p>