<div>
  <div *ngFor="let user of users">
    <h4>User name: {{user.name}}</h4>
    <h4>User age: {{user.age}}</h4>
  </div>
  
  <pk-live-cycle #liveCycleComponent [value]="value" [val]="val"></pk-live-cycle>
  <input type="text" [(ngModel)]="value" (blur)="liveCycleComponent.onValueBlur()">
  <input type="text" [(ngModel)]="val">
  <pk-todolist 
    [value1]="varToChild1" 
    [value2]="varToChild2" 
    [value3]="varToChild3"
    [value4]="varToChild4"
    (onChanged)="onOutput($event)"
    [(todoName)]="name"
  ></pk-todolist>

  <h1 pkItalic>{{date}}</h1>

  <h3 *pkWhile="condition">Structural directives testing = true string</h3>
  <h3 *pkWhile="!condition">Structural directives testing = false string</h3>

  <button (click)="toggleDirective()">Toggle structural directive</button>

  <input type="text" [(ngModel)]="title" [value]="title" [ngClass]="{'color-red': invalid}">
  <button (click)="addThing(title)">add thing in array</button>
  <button (click)="clearThings()">clear</button>

  <p #templateTitle pkBold>{{title}}</p>
  <p [pkColor]="'green'">{{templateTitle.textContent}} - title from template</p>

  <ul>
    <li *ngFor="let thing of things">{{thing}}</li>
  </ul>
</div>