<form>
  <!-- <div class="buttons-toolbar">
    <button
      type="submit"
      [disabled]=""
      [ngClass]="{
        'gvc-promotion-button': true,
        'disabled': ''
      }"
    >Save</button>
  </div>
  <div class="form"> -->
    <!-- <div class="form__fields">
      <label class="form__field">
        <span>Admin: </span>
        <input type="checkbox" formControlName="isAdmin">
      </label>
      <label class="form__field">
        <span>Active: </span>
        <input type="checkbox" formControlName="active">
      </label>
      <label class="form__field">
        <span>Name: </span>
        <input type="text" formControlName="name">
      </label>
      <label class="form__field">
        <span>Email: </span>
        <input type="text" formControlName="email">
      </label> -->
      <!--<label>-->
      <!--Id:-->
      <!--<input-->
      <!--formControlName="id"-->
      <!--placeholder="Id"-->
      <!--[ngClass]="{ 'border-red': isFieldValid('id') }"-->
      <!--/><br/>-->
      <!--<span class="warning" *ngIf="promotionIdIsTaken">-->
      <!--ID's must be unique per domain-->
      <!--</span>-->
      <!--<div *ngIf="isFieldValid('id')">-->
      <!--<span style="color: red">Required</span>-->
      <!--</div>-->
      <!--</label>-->
    <!-- </div> -->

    <!--<div formArrayName="accessTable">-->
      <!--<div *ngFor="let domain of accessTable.controls; let i=index">-->
        <!--<div [formGroupName]="i">-->
          <!--<input formControlName="name" type="text" readonly>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!-- <table formArrayName="accessTable">
      <tr *ngFor="let domain of accessTable.controls; let i=index;" [formGroupName]="i">
        <td>{{i}}<input formControlName="name" type="text" readonly></td>
        <td>{{i}}<input type="text" formArrayName="access">
          <div *ngFor="let item of accessTable.controls.access.controls">
            <input type="text" formControlName="name">
            <input type="text" formControlName="value">
          </div>
        </td>
      </tr>
    </table> -->

    <table class="listingTable">
      <thead>
      <tr>
        <th class="right-separator">DOMAINS</th>
        <th class="align-center right-separator">All</th>
        <th
          class="align-center"
          *ngFor="let column of columns; let i=index;"
          [ngClass]="{'right-separator': i == features.length - 1}"
        >
          {{column.name}}
        </th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let domain of domains;">
          <td class="right-separator">{{domain.name}}</td>
          <td class="align-center right-separator">
            <input type="checkbox">
          </td>
          <td
            class="align-center"
            *ngFor="let column of columns; let i=index;"
            [ngClass]="{'right-separator': i == features.length - 1}"
          >
            <input type="checkbox">
          </td>
        </tr>
      </tbody>
    </table>
  <!-- </div>
</form> -->
