<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <a routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
  <a routerLink="/todo" routerLinkActive="active-link">Todo</a>
  <a routerLink="/access-control" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Access control</a>
  <a [routerLink]="['access-control', '5']" [queryParams]="{'price': 200, 'product': 'phone'}" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Access control №5</a>
  <a [routerLink]="['access-control', '5', 'details']" [queryParams]="{'price': 200, 'product': 'phone'}" routerLinkActive="active-link">Access control №5 - details</a>
  <a [routerLink]="['access-control', '5', 'access']" [queryParams]="{'price': 200, 'product': 'phone'}" routerLinkActive="active-link">Access control №5 - access</a>

  <button (click)="goAccessControl(2)">go access-control №2</button>
  <button (click)="toggleTodo()">Toggle todo</button>
</div>
<router-outlet></router-outlet>